@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-regular {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* shared style */

.btn-primary{
    text-align: center;
    width: 195px;
    height: 50px;
    background-color: #FEA301;
    color: #fff;
    border-radius: 12px;
    padding: 10px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}

/* header style */
/* nav style */

nav{
    max-width: 80.5%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}
/* .logo img{
    width: 90%;
} */
.nav-span{
    font-size: 2rem;
    font-weight: bold;
    color: #111;
}
.nav-content ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.nav-content ul li{
    list-style: none;
}
.nav-content ul a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
#first-li a{
    color: #FEA301;
    font-weight: bold;
}
#second-li a{
    color: #01ACFD;
}
#third-li a{
  color: #05D4DF;
}
#fourth-li a{
  color: #5D58EF;
}
.menu{
    display: none;
}
/* marque style  */
.announcment{
    width: 100%;
    text-align: center;
    padding: 30px 0 0 0;
}
marquee {
    width: 100%;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
/* banner style start */
#banner{
    max-width: 80.5%;
    margin: 0 auto;
    padding: 25px 0;
}

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.banner-content{
    max-width: 44.44%;
}
.banner-img{
max-width: 40%;
}
.banner-img img{
    width: 100%;
}
.banner-content h1{
    font-size: 3.5rem;
    line-height: 3.8rem;
    margin-bottom: 24px;
}
.banner-content h1 span:nth-child(1){
    color: #FEA301;
}
.banner-content h1 span:nth-last-child(1){
    color: #01ACFD;
}
.banner-content p{
    font-size: 1.25rem;
    color: #111;
    margin-bottom: 24px;
}
.banner-btn{
    background-color: #111;
}

/* curriculam style start */

#curriculum{
background-image: url("../assets/bg.png");
background-size: contain;
background-position: top;
background-repeat: no-repeat;
}
.curriculam-container{
    max-width: 80.5%;
    margin: 0 auto;
    padding: 25px 0;
}
.curriculam-container h1{
    font-size: 3rem;
    color: #000000;
    text-align: center;
    margin-bottom: 80px;
}
.curriculam-cards{
    display: flex;
    justify-content: center;
    gap:2.41%;
}
.curriculam-card{
    width: 31.63%;
    height: 476px;
    padding: 53px 41px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33px;
    text-align: center;
    border-radius: 18px;
    box-shadow: 0 0 28.3px rgb(0, 0, 0,0.05);
}
.curriculam-card h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: #202020;
}
.curriculam-card p{
    font-size: 0.92rem;
    font-weight: 500;
    color: #808080;
    line-height: 28px;
}
.card-1{
    background: linear-gradient(to bottom, #DEF5FF 0%, #FFF 40%);
    border: 0.9px solid #DEF5FF;
}
.card-2{
    background: linear-gradient(to bottom, #FFF4DC 0%, #FFF 40%);
    border: 0.9px solid #FFF4DC;
}
.card-3{
    background: linear-gradient(to bottom, #EEE1FF 0%, #FFF 40%);
    border: 0.9px solid #F2E8FF;
}
.curriculam-span-1{
    color:#64C8FF ;
    font-weight: bold;
}
.curriculam-span-2{
    color:#F0AA00 ;
    font-weight: bold;
}
.curriculam-span-3{
    color:#8700FF ;
    font-weight: bold;
}
.arrows{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.arrows img{
    margin-top: 80px;
    padding: 16px 20px;
    background-color: #FEA301;
    border-radius: 50%;
    cursor: pointer;
    transition: ease-in 0.3s;
}
.arrows img:hover{
    background-color: #64C8FF;
}


/* story section style start */

#stories{
    background:url("../assets/bg.png"), linear-gradient(to top, rgb(254, 163, 1,0.3) 0%, #FFF 100%);
    background-size: contain;
}
.stories-container{
    max-width: 80.5%;
    margin: 0 auto;
    padding: 25px 0;
}
.stories-container h1{
    font-size: 2.8rem;
    color: #000000;
    margin-bottom: 80px;
    text-align: center;
}
.story-cards{
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.56%;
}
.first-story-card{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.story-card{
    background-color: #fff;
    border-radius: 16px;
}
.story-card img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
}
.story-card p{
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #666666;
    margin-left: 7% ;
    width: 80%;
    margin-bottom: 5%;
}
.story-card h3{
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: #000000;
    margin-bottom:6% ;
    margin-left: 7%;
    width: 80%;
}
.first-story-card h3{
    font-size:1.5rem ;
    font-weight: bold;
    color: #000000;
}
.right-2>button{
    background-color:#5D58F0 ;
}
.right-3>button{
    background-color:#5D58F0 ;
}


.btn-secondary{
    background-color: #3CD8E8;
    color: #fff;
    border-radius: 47px;
    width: 174px;
    padding: 15px;
    text-align: center;
    border: none;
    margin-left: 7%;
    position: relative;
    top: -26px;
}
.btn-tarnary{
    background-color: #95B226;
    border: none;
    border-radius: 47px;
    width: 174px;
    height: 38px;
    text-align: center;
    color: #fff;
    position: relative;
    top: -25px;
    margin-left: 7%;
}
.story-btn{
    text-align: center;
}


/* footer style start here */

footer{
    background-color: #01ACFD;
    color: #fff;
}
.footer-container{
    max-width: 80.5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 125px 0;
}
.footer-logo{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:35px ;
}
.footer-span{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}
.footer-logo p{
    font-size: 1.25rem;
    font-weight: 400;
}
.footer-content h3{
  font-size: 1.55rem;
  font-weight: bold;
  margin-bottom:32px ;
}
.footer-content p{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 32px;
}
.footer-icons h3{
    font-size: 1.55rem;
    font-weight: bold;
    margin-bottom:32px ;
}




/* responsive for mobile device */
@media screen and (max-width:576px) {
    .btn-primary{
        width: 134px;
        height: 40px;
        border-radius: 12px;
        font-size: 16px;
        padding: 10px;
    }
    nav{
        max-width: 100%;
        border-bottom: 1px solid #FEA301;
        padding: 20px;
    }
    .nav-span ,
    #nav-btn,
    .nav-content {
        display: none;
    }
    .menu{
        display: block;
    }
    marquee{
        width: 100%;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .banner-content{
        text-align: center;
        max-width: 100%;
    }
    .banner-img{
    max-width: 100%;
    }
    .banner-content h1{
        font-size: 2rem;
        line-height: 3rem;
    }
    .banner-content p{
        font-size: 0.9rem;
    }
    .curriculam-cards{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .curriculam-card{
        width: 100%;
        height: 320px;
        gap: 20px;
    }
    .curriculam-container h1{
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .curriculam-card h2{
        font-size: 1.05rem;
    }
    .curriculam-card p{
        font-size:10px;
        line-height: 19px;
    }
    .curriculam-card span{
        font-size: 10px;
    }
    .left-card{
        display: none;
    }
    .right-cards{
        width: 100%;
        gap: 10px;
    }
    .arrows{
        display: none;
    }
    .btn-tarnary{
        width: 100px;
        height: 22px;
        font-size: 0.6rem;
    }
    .stories-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .story-cards{
        margin-bottom: 80px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 3%;
        margin-bottom: 40px;
    }
    .first-story-card{
        display: none;
    }
    .story-card{
        border-radius: 8px;
    }
    .story-card img{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .story-card h3{
        font-size: 0.5rem;
        line-height: 1.3rem;
        margin-bottom:8% ;
        margin-left: 12%;
        font-weight: bold;
    }
    .btn-tarnary{
        width: 103px;
        height: 22px;
        position: relative;
        top: -16px;
        margin-left: 12%;
        font-size: 0.5rem;
    }
    .stories-container h1{
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
    .footer-container{
        flex-direction: column;
        gap: 32px;
        padding: 60px 0;
    }
    .footer-content h3{
        margin-bottom:20px ;
        font-size: 1.26rem;
      }
    .footer-logo p{
        font-size: 1rem;
    }
    .footer-content p{
          margin-bottom: 20px;
          font-size: 1rem;
    }
}


/* responsive for tablet device */
@media screen and (min-width:576px) and (max-width:1000px) {
    .nav-span ,
    #nav-btn {
        display: none;
    }
    .menu{
        display: none;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .banner-content{
        text-align: center;
        max-width: 100%;
    }
    .banner-img{
        max-width: 100%;
    }
    .curriculam-cards{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .curriculam-card{
        width: 65%;
    }
    .story-cards{
        margin-bottom: 80px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 3%;
    }
    .first-story-card{
        display: none;
    }
    .footer-container{
        flex-direction: column;
        gap: 32px;
        align-items: center;
        text-align: center;
    }
    .footer-logo{
        align-items: center;
        text-align: start;
    }
    .footer-logo p{
        text-align: center;
    }
}