@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-regular {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* shared style */

.btn-primary{
    text-align: center;
    width: 195px;
    height: 50px;
    background-color: #FEA301;
    color: #fff;
    border-radius: 12px;
    padding: 10px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}

/* header style */
/* nav style */

nav{
    max-width: 80.5%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}
/* .logo img{
    width: 90%;
} */
.nav-span{
    font-size: 2rem;
    font-weight: bold;
    color: #111;
}
.nav-content ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.nav-content ul li{
    list-style: none;
}
.nav-content ul a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
#first-li a{
    color: #FEA301;
    font-weight: bold;
}
#second-li a{
    color: #01ACFD;
}
#third-li a{
  color: #05D4DF;
}
#fourth-li a{
  color: #5D58EF;
}
.menu{
    display: none;
}

/* banner style start */
#banner{
    max-width: 80.5%;
    margin: 0 auto;
    padding: 25px 0;
}

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.banner-content{
    max-width: 44.44%;
}
.banner-img{
max-width: 40%;
}
.banner-img img{
    width: 100%;
}
.banner-content h1{
    font-size: 3.5rem;
    line-height: 3.8rem;
    margin-bottom: 24px;
}
.banner-content h1 span:nth-child(1){
    color: #FEA301;
}
.banner-content h1 span:nth-last-child(1){
    color: #01ACFD;
}
.banner-content p{
    font-size: 1.25rem;
    color: #111;
    margin-bottom: 24px;
}
.banner-btn{
    background-color: #111;
}

/* curriculam style start */

#curriculum{
background-image: url("../assets/bg.png");
background-size: contain;
background-position: top;
background-repeat: no-repeat;
}
.curriculam-container{
    max-width: 80.5%;
    margin: 0 auto;
    padding: 25px 0;
}
.curriculam-container h1{
    font-size: 3rem;
    color: #000000;
    text-align: center;
    margin-bottom: 80px;
}
.curriculam-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.curriculam-card{
    width: 367px;
    padding: 53px 41px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33px;
    text-align: center;
    border-radius: 18px;
    box-shadow: 0 0 28.3px rgb(0, 0, 0,0.05);
}
.curriculam-card h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: #202020;
}
.curriculam-card p{
    font-size: 0.92rem;
    font-weight: 500;
    color: #808080;
    line-height: 28px;
}
.card-1{
    background: linear-gradient(to bottom, #DEF5FF 0%, #FFF 40%);
    border: 0.9px solid #DEF5FF;
}
.card-2{
    background: linear-gradient(to bottom, #FFF4DC 0%, #FFF 40%);
    border: 0.9px solid #FFF4DC;
}
.card-3{
    background: linear-gradient(to bottom, #EEE1FF 0%, #FFF 40%);
    border: 0.9px solid #F2E8FF;
}
.curriculam-span-1{
    color:#64C8FF ;
    font-weight: bold;
}
.curriculam-span-2{
    color:#F0AA00 ;
    font-weight: bold;
}
.curriculam-span-3{
    color:#8700FF ;
    font-weight: bold;
}
.arrows{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.arrows img{
    margin-top: 80px;
    padding: 16px 20px;
    background-color: #FEA301;
    border-radius: 50%;
    cursor: pointer;
    transition: ease-in 0.3s;
}
.arrows img:hover{
    background-color: #64C8FF;
}


/* story section style start */

#stories{
    background:url("../assets/bg.png"), linear-gradient(to top, rgb(254, 163, 1,0.3) 0%, #FFF 100%);
    background-size: contain;
}
.stories-container{
    max-width: 80.5%;
    margin: 0 auto;
    padding: 25px 0;
}
.stories-container h1{
    font-size: 2.8rem;
    color: #000000;
    margin-bottom: 80px;
    text-align: center;
}
.story-cards{
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 19px;
}
.left-card{
   background-color: #fff;
    width: 540px;
    height: 620px;
    border-radius: 16px;
    background-image: url("../assets/story-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 315px 38px 34px 38px;
}
.left-card h3{
    font-size: 1.5rem;
    line-height: 2.1rem;
    margin-bottom: 41px;
}
.btn-secondary{
    background-color: #3CD8E8;
    color: #fff;
    border-radius: 47px;
    width: 175px;
    height: 47px;
    text-align: center;
    border: none;
    margin-bottom: 33px;
}
.left-card p{
    font-size: 1rem;
    line-height: 1.8rem;
    color: #666666;
    font-weight: 500;
}

.right-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 19px;
}
.story-card-right{
    width: 290px;
    height: 301px;
    background-color: #fff;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 157px 38px 28px 38px;

}
.btn-tarnary{
    background-color: #95B226;
    border: none;
    border-radius: 47px;
    width: 174px;
    height: 38px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
}

.story-card-right p{
    font-size: 0.9rem;
    line-height: 1.8rem;
    color: #000000;
    font-weight: bold;
}

.right-1{
    background-image: url("../assets/story-2.png");
}
.right-2{
    background-image: url("../assets/story-3.png");
}
.right-3{
    background-image: url("../assets/story-4.png");
    padding: 163px 38px 28px 38px;
}
.right-4{
    background-image: url("../assets/story-5.png");
    padding: 163px 38px 28px 38px;
}
.story-btn{
    text-align: center;
}
.right-2 button{
    background-color: #5D58EF;
}
.right-3 button{
    background-color: #5D58EF;
}


/* footer style start here */

footer{
    background-color: #01ACFD;
    color: #fff;
}
.footer-container{
    max-width: 80.5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 125px 0;
}
.footer-logo{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:35px ;
}
.footer-span{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}
.footer-logo p{
    font-size: 1.25rem;
    font-weight: 400;
}
.footer-content h3{
  font-size: 1.55rem;
  font-weight: bold;
  margin-bottom:32px ;
}
.footer-content p{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 32px;
}
.footer-icons h3{
    font-size: 1.55rem;
    font-weight: bold;
    margin-bottom:32px ;
}




/* responsive for mobile device */
@media screen and (max-width:576px) {
    .btn-primary{
        width: 134px;
        height: 40px;
        border-radius: 12px;
        font-size: 16px;
        padding: 10px;
    }
    nav{
        max-width: 100%;
        border-bottom: 1px solid #FEA301;
        padding: 20px;
    }
    .nav-span ,
    #nav-btn,
    .nav-content {
        display: none;
    }
    .menu{
        display: block;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .banner-content{
        text-align: center;
        max-width: 100%;
    }
    .banner-img{
    max-width: 100%;
    }
    .banner-content h1{
        font-size: 2rem;
        line-height: 3rem;
    }
    .banner-content p{
        font-size: 0.9rem;
    }
    .curriculam-card{
        width: 100%;
        padding: 30px 35px;
        gap: 15px;
    }
    .curriculam-container h1{
        font-size: 1.5rem;
    }
    .curriculam-cards{
        justify-content: center;
        gap: 30px;
    }
    .curriculam-card h2{
        font-size: 1.05rem;
    }
    .curriculam-card p{
        font-size:10px;
        line-height: 19px;
    }
    .curriculam-card span{
        font-size: 10px;
    }
    .left-card{
        display: none;
    }
    .right-cards{
        width: 100%;
        gap: 10px;
    }
    .arrows{
        display: none;
    }
    .story-card-right{
      width: 173px;
      height: 180px;
      padding: 93px 17px 17px 22px;
    }
    .right-3{
        padding: 96px 17px 17px 22px;
    }
    .right-4{
        padding: 96px 17px 17px 22px;
    }
    .story-card-right p{
        font-size: 0.6rem;
        line-height: 1rem;
    }
    .btn-tarnary{
        width: 100px;
        height: 22px;
        font-size: 0.6rem;
    }
    .stories-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .stories-container h1{
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
    .story-cards{
        margin-bottom: 30px;
       
    }
    .footer-container{
        flex-direction: column;
        gap: 32px;
    }
}


/* responsive for tablet device */
@media screen and (min-width:576px) and (max-width:1000px) {
    .nav-span ,
    #nav-btn {
        display: none;
    }
    .menu{
        display: none;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .banner-content{
        text-align: center;
        max-width: 100%;
    }
    .banner-img{
        max-width: 100%;
    }
    .curriculam-cards{
        justify-content: center;
        gap: 30px;
    }
    .story-cards{
        justify-content: center;
        flex-direction: column-reverse;
    }
    .footer-container{
        flex-direction: column;
        gap: 32px;
        align-items: center;
        text-align: center;
    }
    .footer-logo{
        align-items: center;
        text-align: start;
    }
    .footer-logo p{
        text-align: center;
    }
}